debian/.debhelper
debian/graif
debian/graif.debhelper.log
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
data/Makefile
data/Makefile.in
debian/Makefile
debian/Makefile.in
desktop/Makefile
desktop/Makefile.in
desktop/graif.desktop
icons/Makefile
icons/Makefile.in
plugins/Makefile
plugins/Makefile.in
src/Makefile
src/Makefile.in
src/graif
