Source: graif
Section: misc
Priority: extra
Maintainer: Ito Hiroyuki <ZXB01226@nifty.com>
Build-Depends: ruby, debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.7.3
Homepage: https://sourceforge.net/projects/graif/

Package: graif
Architecture: all
Depends: ruby
Description: personal accounting software.
 Graif is an accounting software.
